body {
    background-image: url("img/galeria8.JPG");
    background-size: cover;
}

#map { height: 50%;
    height:600px;
    box-shadow: 5px 5px 5px #888 }

#norte{
    position:fixed;
    width:2.5%;
    left: 3.5%;
    padding: 1.2%;
    }